body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.page-item.active .page-link {
  background-color: transparent;
  border-color: #d2d3d6;
  border-bottom-color: #2079c2;
  background-color: #2a8ddd;
  border-radius: 5px;
  color: #fff;
}

.page-link {
  color: #333;
  padding: 0.6rem 1rem;
  margin: 0 0.3rem;
}

.page-link:hover {
  color: #2079c2;
}

.pagination_wrap {
  flex: 5;
  display: flex !important;
  justify-content: center;
}
.pagination_wrap .pagination {
  margin: 0;
  display: flex !important;
}
